@media (max-width: 300px) {
	article {
		width: 100%;
		height: auto;
	}
}

svg {
	fill: #09F;
}

svg.defs-only {
	display: block;
	position: absolute;
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	border: none;
	overflow: hidden;
}

svg.bg {
	width: 460px;
	height: 360px;
	vertical-align: middle;
	fill: #F8FBFF;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	color: #0066AA;
}

header {
	width: 100%;
	border-bottom: 1px solid #AAC;
}

header::after {
	content: "";
	display: table;
	clear: both;
}

section::after {
	content: "";
	display: table;
	clear: both;
}

section {
	text-align: center;
	vertical-align: middle;
}

article {
	min-width: 400px;
	max-width: 600px;
	text-align: center;
	vertical-align: middle;
	float: left;
}

article > p {
	z-index: -1;
	text-align: left;
	margin: 12px;
	font-size: 10pt;
}

aside {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	border-top: 1px solid #AAC;
	font-size: 15px;
}

footer {
	width: 100%;
	border-top: 1px solid #AAC;
	padding: 1em 0;
}
