<?php

return [
    //  Default MongoDB connection for users
    //      and the master connection for web access.
    'mongodb' => [
        'database' => 'digester',
    ],

	'process' => [
		'name'    => 'digester_dev',
		'path'    => '/var/run/digester_dev',
	],

	'caches' => [
		'index' => [
			'back'  => [
				'cacheDir' => '/dev/shm/digester_dev/',
			],
		],

		'tag_cloud' => [
			'back'  => [
				'cacheDir' => '/dev/shm/digester_dev/',
			],
		],

		'summary' => [
			'back'  => [
				'cacheDir' => '/dev/shm/digester_dev/',
			],
		],
	],
];
